body {
                background-color: black;
   font-family: "PT Sans", Calibri, Tahoma, sans-serif;
   color:hsl(0, 0%, 100%)
            }
header {
  margin-bottom: 4rem;
  padding: 2rem 0;
  color: hsl(0, 0%, 100%);
}
center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
